extends layout

block content
  h1= title

  div.padded
    div.fb-login-button(data-show-faces="true", scope="friends_relationships, friends_birthday, user_interests, friends_interests") Login with Facebook

    div#gender.btn-group(data-toggle="buttons")
      label.btn.btn-default.active
        input(type="radio", name="gender")
        | Female
      label.btn.btn-default
        input(type="radio", name="gender")
        | Male

    br
    br

    button.btn.btn-default.primary#btnSearch() Search

    table.table.table-striped.table-bordered.sortable()
      thead
        tr
          th Name
          th Percent Match
          th Relationship Status
          th Link
      tbody(data-bind="foreach: users")
        tr
          td(data-bind="text: name")
          td(data-bind="text: percent")
          td(data-bind="text: relationship_status")
          td
            a(data-bind="attr: { href: profile_url }")
              img(data-bind="attr: { src: pic }")

