extends layout

block content
    h1= title

    div.padded
        div.fb-login-button(data-show-faces="true", scope="friends_relationships, friends_birthday, user_interests, friends_interests") Login with Facebook

        div#gender.btn-group(data-toggle="buttons-radio")
            button.btn.active Female
            button.btn Male
        
        button.btn.primary#btnSearch() Search

        table.table.table-striped.table-bordered.sortable()
            thead
                tr
                    th Name
                    th Percent Match
                    th Relationship Status
                    th Link
            tbody#results