doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css')
        != css('style')
    body
        div#fb-root
        div.container-fluid
            div.row.hero-unit
                block content
                != js('jquery-1.8.0.min')
                != js('sorttable')
                != js('matcher')
                != js('//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js')